name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy code to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "."
        target: "/home/ubuntu/app"

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_IP }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu/app

          sudo apt update
          sudo apt install -y python3 python3-pip python3-venv

          # Create venv if not exists
          if [ ! -d "venv" ]; then
            python3 -m venv venv
          fi

          source venv/bin/activate
          pip install -r requirements.txt

          # Move systemd file
          sudo cp flask.service /etc/systemd/system/flask.service

          # Reload systemd
          sudo systemctl daemon-reload

          # Enable service to start on boot
          sudo systemctl enable flask

          # Restart service
          sudo systemctl restart flask

          # Check status (this prints result in Action logs)
          sudo systemctl status flask --no-pager

